@model TutorLib.Model.Examination

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Examination</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ExamName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExamName)
                @Html.ValidationMessageFor(model => model.ExamName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExamNote, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExamNote)
                @Html.ValidationMessageFor(model => model.ExamNote)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPublished, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsPublished)
                @Html.ValidationMessageFor(model => model.IsPublished)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HasCommonEnroll, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HasCommonEnroll)
                @Html.ValidationMessageFor(model => model.HasCommonEnroll)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnrollKey, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnrollKey)
                @Html.ValidationMessageFor(model => model.EnrollKey)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectID, "SubjectID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubjectID", String.Empty)
                @Html.ValidationMessageFor(model => model.SubjectID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TutorID, "TutorID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TutorID", String.Empty)
                @Html.ValidationMessageFor(model => model.TutorID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
